<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статистика партий</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'zakroi/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Статистика партий</h1>
        <ul>
            <li>Общее количество партий: {{ total_parties }}</li>
            <li>Общее количество материалов: {{ total_materials }}</li>
            <li>Общее количество футболок: {{ total_tshirts }}</li>
        </ul>
        <a href="{% url 'zakroi_home' %}">Назад</a>
    </div>
</body>
</html>